.heading {
  text-align: center;
}

img {
  border-radius: 50%;
  border: 7px solid white;
  width: 8rem;
  height: 8rem;
}

/* .card {
  display: grid;
  grid-template-columns: auto auto auto auto;
} */

.card-content {
  background-color: #222;
  color: white;
  padding: 0.6rem;
  margin: 1rem;
  border-radius: 1rem;
  width: 17rem;
}
