.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  background: #444;
  border-radius: 50%;
  color: white;
  width: 3rem;
}

.time-app,
.counter-app {
  margin: 2rem;
  padding: 3rem;
  border: 5px solid cyan;
  background: #555;
  color: cyan;
  border-radius: 50%;
  text-align: center;
}
