main {
  padding: 4rem 3rem;
  color: azure;
}

h1 {
  margin-bottom: 1.5rem;
  letter-spacing: -0.05em;
}

ul {
  padding-left: 3rem;
}

ul li {
  list-style: disc;
  line-height: 19px;
  padding-block: 10px;
}

ul > li::marker {
  font-size: 2rem;
  color: #61dafb;
}
